<section class="pt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-md-6 col-lg-5">
        <div class="card border rounded-3 shadow-sm">
          <div class="card-body p-4">

            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

              <div class="mb-4">
                <label for="password"
                  class="form-label small fw-medium">Password</label>
                <input formControlName="password" type="password" id="password"
                  class="form-control"
                  placeholder="Min 6 characters"
                  [class.is-valid]="_password.valid && _password.touched"
                  [class.is-invalid]="_password.invalid && _password.touched">
                <div class="invalid-feedback">
                  Password must be at least 6 characters, contain a capital
                  letter and a number.
                </div>
              </div>

              <div class="mb-4">
                <label for="confirmPassword"
                  class="form-label small fw-medium">Confirm Password</label>
                <input formControlName="confirmPassword" type="password"
                  id="confirmPassword"
                  class="form-control"
                  placeholder="Min 6 characters"
                  [class.is-valid]="_confirmPassword.valid && _confirmPassword.touched && !formGroup.hasError('passwordMismatch')"
                  [class.is-invalid]="(_confirmPassword.invalid && _confirmPassword.touched) || (formGroup.hasError('passwordMismatch') && _confirmPassword.touched)">
                <div class="invalid-feedback">
                  Passwords do not match.
                </div>
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">
                  Save New Password
                </button>
              </div>

              <p class="text-center text-muted small mt-3 mb-0">
                Already have an account? <a routerLink="/account/login"
                  class="text-primary text-decoration-none">Login</a>
              </p>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
